body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	margin: 20px;
}
table, tr, th, td  {
	border-collapse: collapse;
	border: none 0;
}
th, td {
	padding: 10px;
}
.error {
	background: #FF0000;
	color: #FFFFFF;
	padding: 12px;
	border-radius: 8px;
}
#logo {
	width: 200px;
	max-width: 100%;
}
#products .name {
	font-weight: bold;
}
#products .reference {
	font-style: italic;
	color: #707070;
}
#products .description {
	font-size: small;
	background-color: #F0F0F0;
	padding: 10px;
	border-radius: 8px;
}
