body {
	font: 14px Verdana, Arial, sans-serif;
	margin: 20px;
}
table, tr, th, td  {
	border-collapse: collapse;
	border: none 0;
}
th, td {
	padding: 10px;
}
#logo {
	width: 200px;
	max-width: 100%;
}
.products .name {
	font-weight: bold;
}
.products .reference {
	font-style: italic;
	color: #777;
}
